@model DietBuilder.Models.Recipe.RecipeDetail;

@{
    ViewData["Title"] = @Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col-12">

            <h1>@Model.Name</h1>

            <hr/>

            <h3>Ingredients</h3>

            <span>
                <a href="/Recipe/@Model.Id/Ingredients/Create">Add ingredients to @Model.Name here!</a>
            </span>

            <br/>

            @if (Model.RecipeIngredients.Any())
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Unit
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var recipeIngredient in Model.RecipeIngredients)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(Item => recipeIngredient.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(Item => recipeIngredient.QuantityOf)
                            </td>
                            <td>
                                @Html.DisplayFor(Item => recipeIngredient.Unit)
                            </td>
                            <td>
                                <form action="/Recipe/@Model.Id/ingredient/@recipeIngredient.Id/delete" method="post">
                                    <input type="submit" value="Remove" class="btn btn-link" />
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <span>
                    There are currently no ingredients in this recipe.
                </span>
            }
        </div>
    </div>
</div>