@model DietBuilder.Models.User.UserDetail;

@{
	ViewData["Title"] = "User Information";
}

<h1>User Details</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				@Html.DisplayFor(ingredientItem => Model.Id)
			</td>
			<td>
				@Html.DisplayFor(ingredientItem => Model.FirstName)
			</td>
			<td>
				@Html.DisplayFor(ingredientItem => Model.LastName)
			</td>
			<td>
				@Html.DisplayFor(ingredientItem => Model.UserName)
			</td>
			<td>
				@Html.DisplayFor(ingredientItem => Model.Email)
			</td>
		</tr>
	</tbody>
</table>

<footer>
	<a asp-action="Index">Back to List</a>
</footer>

